/**
 * DokuWiki Plugin ExtTab3: all.less
 */
table.exttable {
  td > p:last-child {
    // background-color: #00ccff;
    margin-bottom: 0;
  }
}

table.exttable.design {
  ul {
    padding-left: 0em;
  }
  ol {
    padding-left: 0em;
  }
}

